
// !intro section
// start intro section
.intro{
    &{
        background: linear-gradient(rgba(#0a2a38,0.9),rgba(#0a2a38,0.9)),url(../../img/laptop.jpg) ;
        background-repeat: no-repeat;
        background-position: center 70%;
        background-size: cover;
        height: 200px;
        width: 100%;
        text-align: center;
        position: relative;

    }
    &__content{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color:#fff;
    }
    &__img{
        &{
            position: absolute;
            bottom:-40%;
            left: 23%;
            border: 5px solid $color-white;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
        }
        @include respond(tab-port) {
            left: 15%;
        }
        @media only screen and (max-width: 51em) {
            left: 5%;
            width:130px
        }
        @include respond(phone) {
            left: 0%;
            bottom:-30%;
            width:130px;
        }

}
}

// end intro section

// !train section
// start train section
.train{
    &{
        background-color: $color-light-blue-1;
        padding: 120px 0 70px ;
    }
    &__desc span , &__heading{
        font-weight: bold;
        
    }
    &__heading{
        margin-bottom: 2.5rem;
    }
    &__img{
        width: 100%;
        margin: 2.5rem 0;
    }
}
//end train section

// !detail section
// start detail section
.detail{
    &{
        
    }
    &-tap > *{
        text-align: center;
        margin-top:-1rem ;
    }
    &-tap a{
        background-color: $color-light-blue-1;
        color:$color-secondary;
        border: 4px solid #fff;
        padding: 0.5rem ;
        display: block;
        font-weight: bold;

    }
    &-tap > .active a , &-tap > *:hover a{
        background-color: $color-white;
        color:$color-primary;
    }

    &-box{
        padding: 70px 0;
        line-height: 1.4;
    }
    &__list li a{
        display: block;
        margin: 1rem 0;
        color: $color-secondary;

    }
    &__list li a::before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid $color-secondary;
        border-bottom: 5px solid transparent;
        margin-right: 5px;
    }
    &__list li:hover a,
    &__list li.active a{
        color: $color-primary;
        
    }
    &__list li:hover a::before,
    &__list li.active  a::before{
        border-left: 10px solid $color-primary;
    }
    }

// end detail section
