.header {
    background: rgb(242,112,36);
    background: linear-gradient(-20deg, rgba(242,112,36,1) 0%, rgba(242,112,36,1) 55%, rgba(242,112,36,1) 50%, rgba(255,255,255,0.2945553221288515) 59%, rgba(255,255,255,1) 100%, rgba(230,87,87,1) 100%, rgba(250,246,243,1) 100%);

    &--path{
        height:100%;
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 0 !important;
        html[dir="rtl"] &{
            clip-path:polygon(0 0, 90% 0, 100% 100%, 0% 100%);
            
        }
    }
    &__link{
        height: 0.7rem;
        color: $color-grey-dark-1;
        display: flex;

    }
    &__logo{
        width: 70px;
        height: 70px;
        border-bottom-left-radius:0.5rem ;
        border-bottom-right-radius:0.5rem ;
        padding:0 0.3rem 0.3rem;
        background-color: $color-grey-light-1;
        margin-left: 2rem;
        // @include respond(tab-port) {
        //     width:90%;
        //     height:90px;
        // }
        img{
            margin-right: 0.5rem;
            display: inline-block;
        }
    }
    &__text{
        text-align: right;
        display: inline-block;  
        margin-left: 0.5rem;
        line-height: 1.4;
    }
}
