*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  // text-align: right;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}


a:hover{
  text-decoration: none;
}