*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  
  @include respond(big-desktop) {
    // font-size: 2rem !important;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}


a:hover{
  text-decoration: none;
}