// COLORS
$color-primary: #f27024;
$color-primary-light: #ff863f;

$color-secondary: #0f465d;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #dae1e9;

$color-grey-dark-1: #5a6165;
$color-grey-dark-2: #979797;

$color-white: #ffffff;
$color-black: #000000;

$color-light-blue-1:#ebeff0;


// Font
$default-font-size: 1.6rem;